<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
                <title>Blog App</title>
                <link rel="stylesheet" type="text/css" href="../public/CSS/styles.css"></head>
                <body>
                    <div class="container">
                        <h1>Blog App</h1>

                        <form id="postForm">
                            <input type="text" id="titleInput" placeholder="Title">
                                <textarea id="contentInput" placeholder="Content"></textarea>
                                <button type="submit">Create Post</button>
                            </form>

                            <div id="postsContainer"></div>
                        </div>

                        <script src="../public/JS/index.js"></script>
                    </body>
                </html>





